<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>QR Generator</head>
<body>
    <div id="container">
        <form action="/" method="post">
            <div id="space"></div>
            <div class="row">
                <input type="text" name="text1" placeholder="Enter text"/>
                <input type="submit" name="submit" value="Generate"/>
            </div>
        </form>
        <footer class="footer">
	        <p>Host Information: {{ host_name }},{{ host_ip }}</p>
            <p>Copyright:snehangshu@akskube.info 2020</p>
        </footer>
    </div>
</body>
</html>
